
<h1>God Mode</h1>
<div class="all-products">
    {{#each productInfo}}
    <h2>{{title}}</h2>

    <img src="{{imgPath}}" height="200px" alt="Photo for{{title}}">
    <a href="/products/show">See details {{title}}</a>
    <form action="/admin-panel/{{_id}}" method="POST">
      <button type="submit">Delete</button>
      </form>
    {{/each}}
</div>