<div class="header">
    <img src="images/Screenshot 2021-04-28 at 18.43.10.png" />
    <h2 class="header-title">GetThrifty</h2>
</div>

<div class="sticky-nav-searchbar">
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/new">Create A New Ad</a>
        <a href="/signup">Sign Up</a>
        <a style="float:right" href="/logout">Log Out</a>
        <a style="float:right" href="/login">Log In</a>
    </div>

    <div class="search-form">
        <form action="/products/search" method="GET">
            <input type="text" placeholder="Search for products" id="title" name="q">
            <button type="submit">Find more</button>
        </form>
    </div>
</div>
<div class="categoryList">
    <div class="category-search">
        <form action="/category/" method="GET">
            <label for="categories">Find a category:</label>
            <select name="categories" id="categories">
                {{#each categories}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
        </form>
    </div>
    <button type="submit">Search</button>
</div>

<div class="all-products">
    {{#each productInfo}}
    <div class="img-product">
        <img src="{{imgPath}}" alt="Photo for{{title}}">
        <h2 class="product-title">{{title}}</h2>
        <h3 class="price-tag">EUR {{price}}</h3>
        <a href="/products/show">See details</a>
    </div>
    {{/each}}
</div>