<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/dashboard">My products</a>
    <a href="/dashboard/new">Add a product</a>
    <a style="float:right" href="/signup">Sign Up</a>
    <a style="float:right" href="/login">Login</a>
</div>

    <div class="categoryList">
        <div class="category-search">
            <form action="/category" method="GET">
                <select name="categories" id="categories">
                    {{#each categories}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
                <button class="submit-prod">Search</button>
            </form>  
    </div>

<div class="search-form">
    <form action="/search" method="GET">
        <input type="text" placeholder="Search for products" id="title" name="q" class="search">
        <button type="submit" class="submit-prod">Find more</button>
    </form>
</div>

    <div class="all-products">
        {{#each productInfo}}
        <div class="img-product">
            <a href="/show/{{_id}}"><img src="{{imgPath}}" alt="Photo for{{title}}"></a>
            <h2 class="product-title">{{title}}</h2>
            <h3 class="price-tag">EUR {{price}}</h3>
        </div>
        {{/each}}
    </div>
    <a href="/logout"><button class="edit-delete-btn">Log out</button></a>

    <div class="footer">
  <p>GetThrifty Exchange Marketplace</p>
  <p><img src="/images/logo.png" alt="logo-home" height="30px" width="30px"> 2021. Developed by Svjetlana Rados & Pietro
    Ballarin </p>
</div>