<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/dashboard">My products</a>
    <a style="float:right" href="/signup">Sign Up</a>
    <a style="float:right" href="/login">Login</a>
</div>

<div class="show-card">
    {{#with productInfo}}
    <h2>{{title}}</h2>
    <img src="{{imgPath}}" alt="Photo for{{title}}">
    <div class="description">
        <p><b>Price:</b> {{price}} EUR</p>
        <p><b>Description:</b> {{description}}</p>
        <p><b>Address:</b> {{address}}</p>
    </div>
    <a href="mailto:{{userEmail}}" class="edit-delete-btn">Contact user</a>

    {{/with}}
</div>