<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/dashboard">My products</a>
    <a href="/dashboard/new">Add a product</a>
    <a style="float:right" href="/signup">Sign Up</a>
    <a style="float:right" href="/login">Log In</a>
</div>

<div class="show-card">
    {{#with productInfo}}
    <h2>{{title}}</h2>
    <img src="{{imgPath}}" height="200px" alt="Photo for{{title}}">
    <h4>Price:{{price}}€</h4>
    <p>Description: {{description}}</p>
    <h4>Address: {{address}}</h4>
    <a href="/dashboard/email-form/{{_id}}" class="button">Contact user</a>
    {{/with}}
</div>


